[defaults]
remote_user = ansible
forks = 15
host_key_checking = False
timeout = 20
log_path = ansible.log
ask_pass = True
remote_tmp = /tmp/${USER}/ansible

[ssh_connection]
retries = 2

[privilege_escalation]
become = True
become_method = dzdo
become_ask_pass = True
